@import url("https://fonts.googleapis.com/css2?family=Roboto&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: "Roboto", sans-serif;
}

h1 {
  text-align: center;
  color: #0e3f6a;
  margin-top: 20px;
}

h2 {
  text-align: center;
  color: #0e3f6a;
  margin-bottom: 20px;
}

.data {
  width: 100%;
  height: 50vh;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.data-container {
  box-shadow: 0 8px 15px rgb(0 0 0 / 20%);
  background-color: white;
  display: flex;
  align-items: center;
  justify-content: center;
  column-gap: 71px;
  border: 2px solid black;
  padding: 15px;
  margin: 20px 550px;
  width: 60%;
}

#form {
  text-align: center;
}

#title {
  padding: 5px 15px;
  border: 2px solid black;
}

#author {
  padding: 5px 15px;
  border: 2px solid black;
}

#submit {
  background: cornflowerblue;
  cursor: pointer;
  padding: 5px 15px;
  border: 2px solid black;
}

#submit:hover {
  background-color: white;
}

#remove-btn {
  padding: 3px 5px;
  box-shadow: 0 8px 15px rgb(0 0 0 / 10%);
  cursor: pointer;
  outline: none;
}

#remove-btn:hover {
  background-color: #0e3f6a;
  color: white;
}

@media only screen and (max-width: 900px) {
  .data-container {
    box-shadow: 0 8px 15px rgb(0 0 0 / 20%);
    background-color: white;
    display: flex;
    align-items: center;
    justify-content: center;
    column-gap: 71px;
    border: 2px solid black;
    padding: 14px 241px;
    margin: 19px 122px;
  }
}